.star-spinner-container {
  text-align: center;
  background: transparent;
}

.loader {
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 75px;
  display: inline-block;
  vertical-align: middle;
}

.loader-star {
  position: absolute;
  top: calc(50% - 12px);
}

.loader-2 .loader-star {
  position: static;
  width: 60px;
  height: 60px;
  transform: scale(0.7);
  animation: loader-2-star 1s ease alternate infinite;
}

.loader-2 .loader-circles {
  width: 8px;
  height: 8px;
  background: #8d11e6;
  border-radius: 50%;
  position: absolute;
  left: calc(50% - 4px);
  top: calc(50% - 4px);
  transition: all 1s ease;
  animation: loader-2-circles 1s ease-in-out alternate infinite;
}

/* Keyframes */
@keyframes loader-2-circles {
  0% {
    box-shadow: 0 0 0 #8d11e6;
    opacity: 1;
    transform: rotate(0deg);
  }
  50% {
    box-shadow: 
      24px -22px #8d11e6, 
      30px -15px 0 -3px #8d11e6, 
      31px 0px #8d11e6, 
      29px 9px 0 -3px #8d11e6, 
      24px 23px #8d11e6, 
      17px 30px 0 -3px #8d11e6, 
      0px 33px #8d11e6, 
      -10px 28px 0 -3px #8d11e6, 
      -24px 22px #8d11e6, 
      -29px 14px 0 -3px #8d11e6, 
      -31px -3px #8d11e6, 
      -30px -11px 0 -3px #8d11e6, 
      -20px -25px #8d11e6, 
      -12px -30px 0 -3px #8d11e6, 
      5px -29px #8d11e6, 
      13px -25px 0 -3px #8d11e6;
    transform: rotate(180deg);
  }
  100% {
    opacity: 0;
    transform: rotate(360deg);
    box-shadow: 
      25px -22px #8d11e6, 
      15px -22px 0 -3px transparent, 
      31px 2px #8d11e6, 
      21px 2px 0 -3px transparent, 
      23px 25px #8d11e6, 
      13px 25px 0 -3px transparent, 
      0px 33px #8d11e6, 
      -10px 33px 0 -3px transparent, 
      -26px 24px #8d11e6, 
      -19px 17px 0 -3px transparent, 
      -32px 0px #8d11e6, 
      -23px 0px 0 -3px transparent, 
      -25px -23px #8d11e6, 
      -16px -23px 0 -3px transparent, 
      0px -31px #8d11e6, 
      -2px -23px 0 -3px transparent;
  }
}

@keyframes loader-2-star {
  0% {
    transform: scale(0) rotate(0deg);
  }
  100% {
    transform: scale(0.7) rotate(360deg);
  }
}

/* Responsive */
@media (max-width: 640px) {
  .loader {
    margin: 50px;
    transform: scale(0.8);
  }
}